* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
    font-size: 33px;
}

body {
    background-image: url(bck.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 3rem;
    margin: 0 5px;
}

button {
    padding: 8px 21px;
    margin: 0 10px;
    border-radius: 35px;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #F14E4E;
    cursor: pointer;
    outline: none;
    border: none;
}
button:first-of-type{
    background-color: #4BB543;
}