*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url(../labs/bck.jpg);
    /* background-size: cover; */
}
.header{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 25px;
    color: #79A200;
    border-bottom: 3px dotted black;
}
.header h1{
    margin-bottom: 20px;
    font-weight: bold;
}
.header span a{
    color: darkred;
    text-decoration: none;
    font-style: italic;
}
.wrapper{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 3px dotted black;
}
.card{
    width: 29%;
    display: inline-block;   
    padding: 10px;
    margin:10px;
    
}

.img{
    text-align: center;
}
.i-text{
    margin-top: 20px;
    text-align: center;
}
.i-text h3{
    color: darkred;
}
.i-text p{
    color:#79A200
}
.footer{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
.footer h2{
    font-family: cursive;
    color: #79A200;
    margin-bottom: 10px;
}
.footer p {
    font-family: cursive;
    color: darkred;
    margin-bottom: 20px;
}