* {
  box-sizing: border-box;
}

.main {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(235, 235, 235, 0.685);
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  border-radius: 8px;

}

.main .add {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
  border-radius: 8px;

}

.features {
  display: flex;
  gap: 20px;
}

.features input {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 8px;

}

.main ul {
  list-style-type: none;
}

.main ul li {
  margin: 20px 0;
  background-color: #ccc;
  padding: 10px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main ul li span {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
}

.edit {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 8px;


}

.delete {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 0 20px;
  border-radius: 8px;

}

.form input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 10px;

}

.form .add-features {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.form .add-features .add-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.form .add-features .cancel-btn {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 0 20px;
  border-radius: 8px;
}
.edit-save{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 8px;
  width: 80%;
}